/* =============
    Typography
============= */
body{
    font-family: 'Mr Eaves Mod OT', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'OhNo Blazeface';
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}