#_section-2 {


        >div {
    
    
            ul {
                
    
                li {
                    background-position: center;
                    background-size: cover;
                    height: 320px;
    
                    
                }
            }
        }
    }
    