#section-3 {
h1 {
	font-family: ohno-blazeface, sans-serif;
	font-weight: 100;
	font-style: normal;
}
	>div {

		ul {
			display: grid;
			gap: 16px;
			
			li {

			#snake {
			
				>div {
					background-image: url("/img/section-3/snake.png");
				}
			}
			#peperomia {
				
				>div {
					background-image: url("/img/section-3/peromia.png");
				}
			}
			#succulent {
				
				>div {
					background-image: url("/img/section-3/succulent.png");
				}
			}
			#alocasia {
				
				>div {
					background-image: url("/img/section-3/alocasia.png");
				}
			}
			#monstera {
				
				>div {
					background-image: url("/img/section-3/monstera.png");
                }
			
				}
			}
		}
	}
}
#SnakePlant, #Peperomia, #Monstera, #Succulents, #Alocasia
h1 {
	font-family: ohno-blazeface, sans-serif;
	font-weight: 100;
	font-style: normal;
}
body {
	font-family: mr-eaves-modern, sans-serif;
	font-weight: 400;
	font-style: normal;
}