#section-3 {

	>div {


		ul {
			display: grid;
			gap: 16px;
			
			li {

			}
			#snake {
			
				>div {
					background-image: url("/img/section-3/snake.png");
				}
			}
			#peperomia {
				
				>div {
					background-image: url("/img/section-3/peromia.png");
				}
			}
			#succulent {
				
				>div {
					background-image: url("/img/section-3/succulent.png");
				}
			}
			#alocasia {
				
				>div {
					background-image: url("/img/section-3/alocasia.png");
				}
			}
			#monstera {
				
				>div {
					background-image: url("/img/section-3/monstera.png");
				}
			}
		}
	}
}
