/* =============
    Footer
============= */
footer {
	background-color: #DAA7D9;
	padding: 16px;

	@include xl {
		display: grid;
		grid-template-areas: ". footer .";
		grid-template-columns: auto 1200px auto;
	}
}
h1 {
	font-family: ohno-blazeface, sans-serif;
    font-weight: 100;
    font-style: normal;
	color: #fff
}
h2{
	font-family: ohno-blazeface, sans-serif;
    font-weight: 100;
    font-style: normal;
	color: #175E2E
}
#ConnecticutBody{
	font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #175E2E
}
#nova{
	font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #175E2E
}
 #MassBody {
	font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
	color: #175E2E
}
button {
	color: #fff;
	background-color: #175E2E;
}