header {
	background-color: #DAA7D9;
	color: #fff
	display; grid
	
	>div {
		@include xl {
			grid-area: header;
		}
		h1 {
			font-family: ohno-blazeface, sans-serif;
			font-weight: 100;
			font-style: normal;
			color: #fff
		}
		section {
			padding: 15px;

			img {
				width: 96px;

				@include md {
					width: 123px;
				}

				@include lg {
					width: 150px;
				}
			}
		}
	}
}