/* =============
    Buttons
============= */
button {
    cursor: pointer;
}

.button {
    background-color: #175E2E;
    border: none;
    font-size: rem-calc(16);
    font-weight: 600;
    padding: 10px;
    transition: 0.25s;

    &:hover {
        background-color: #fff;
        color: #175E2E;
    }
}